@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container ">
    <div class="col-4">
        <form method="post">

            <div class="mb-3 w-auto">
                <label class="form-label">mail</label>
                <input type="email" class="form-control" name="mail" />
            </div>

            <div class="mb-3 w-auto">
                <label class="form-label">Wachtwoord</label>
                <input type="password" class="form-control" name="wachtwoord" />
            </div>

            <span class="text-black form-text">@Model.ErrorMessage</span>

            <button type="submit" class="btn btn-primary" asp-page-handler="LogIn">Inloggen</button>
            <form asp-asp-page-handler="Tafels" method="post">            
                <button class="btn btn-primary">Ik wil bestellen</button>
            </form>



        </form>
    </div>

</div>


