@page 
@model WebdevProjectStarterTemplate.Pages.TafelSelectieModel

@{
    <form>
        <label for="tafel">Selecteer uw tafel</label>
        <select id="TafelKiezen" name="TafelKiezen">
            foreach(var tafel in Model.Tafels.Get())<option value="@Model.Tafels">Tafel</option>}

        </select>
        <button type="button" formmethod="post" id="TafelBevestigen" asp-page="/Bestellen">Bevestig tafel</button>
    </form>
}

