@page 
@model WebdevProjectStarterTemplate.Pages.pagina.InlogModel

@{
 
}

<div class="container">
<label><b>Gebruikersnaam</b></label>
<input type="text" placeholder="Gebruikersnaam" name="gebruikersnaam"/>
</div>
<div class="container">
    <label><b>Wachtwoord</b></label>
    <input type="password" placeholder="Wachtwoord" name="wachtwoord"/>
</div>
<button type="submit" name="LogIn">login</button>
